.map-wrapper {
  height: 700px;
  margin: auto;
}

.map-school {
  fill: #292961 !important;
  stroke: black !important;
  stroke-width: 0.5 !important;
}

.map-bus-stops {
  fill: #ffd800 !important;
  stroke: black !important;
  stroke-width: 0.5 !important;
}

.map-routes {
  stroke-linejoin: round !important;
  stroke-linecap: round !important;
  fill-rule: evenodd !important;
  stroke: rgb(64, 120, 192) !important;
  stroke-opacity: 1.5 !important;
  stroke-width: 3.5 !important;
  fill: rgb(219, 231, 247) !important;
  fill-opacity: 1 !important;
  &:hover {
    fill: rgb(151, 188, 238) !important;
    fill-opacity: 1 !important;
  }
}

.highlight-marker {
  fill: red !important;
  stroke: black !important;
  stroke-width: 1.5 !important;
}

.highlight-route {
  fill: rgb(151, 188, 238) !important;
  fill-opacity: 1 !important;
}

.hidden {
  display: none;
}

.tooltip-wrapper {
  position: absolute;
  color: #222;
  background-color: rgb(255, 255, 255);
  padding: 0.5em;
  border-radius: 2px;
  border: 1px solid #292961;
  opacity: 0.9;
}

.box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  float: left;
  position: absolute;
  cursor: move;
  z-index: 999;
}

.hide-popup {
  display: none;
}

svg {
  path {
    cursor: pointer;
  }
}

.more-info {
  padding: 0px;
  font-size: 10px;
  font-weight: 900;
  text-align: end;
  margin-bottom: 0px;
  margin-top: 0.5rem;
  color: #0049f1;
}

.capitalize {
  text-transform: capitalize;
}
