@import url("https://fonts.googleapis.com/css2?family=Exo:wght@100;300;400;500;600;700;800;900");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400;500;600;700;800;900");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@100;300;400;500;600;700;800;900&display=swap");

/* Global Fonts Starts */

.exo {
  font-family: "Exo", sans-serif !important;
}

.montserrat {
  font-family: "Montserrat", sans-serif !important;
}

.open-sans {
  font-family: "Open Sans", sans-serif !important;
}

.quicksand {
  font-family: "Quicksand", sans-serif !important;
}
